.container h1{
    text-align: center;
}
table{
    margin: auto;
}
input{
    display: block;
    margin: 17px auto;
    width: 229px;
    border: 4px solid black;
    padding: 12px;
    border-radius: 10px;
}
button{
    height: 59px;
    width: 62px;
    border-radius: 10px;
    border: 4px solid black;
    background: #958a8a;
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
}
.bg{
    background:#21ab78;
    border: 4px solid black; 
    border-radius: 21px; 
    padding: 16px;
    text-align: center; 
    width: 300px;
    margin: auto;   
}